/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.editorconfig
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*

# Certs and keys
*.crt
*.key

# tmp script files
*_DeploymentConfig.json
*_BuildConfig.json
*.local.*

# VS Code Files
.vscode