
// Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

footer {
  background-color: #036;
  border-top: 2px solid #fcba19;
  color: #fff;
  font-family: ‘Noto Sans’, Verdana, Arial, sans-serif;
}

footer .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 46px;
}

footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  color: #fff;
  list-style: none;
  align-items: center;
  height: 100%;
}

footer ul li a {
  font-size: 0.813em;
  font-weight: normal;  /* 400 */
  color: #fff;
  border-right: 1px solid #4b5e7e;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-tabs {
  border-bottom: none;
}
.card {
  font-family: 'BCSans';
}

.form-control {
  font-family: 'BCSans';
  }


.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin: auto;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
div#logout {
  float: right;
  padding-bottom: 10px;
}
@media (max-width: 1024px){
  div#logout {
    float: right;
    padding-bottom: 10px;
    padding-right: 4px;
  }
}

.header-logo {
  float: left;
  width: unset;
  flex-basis: unset;
  flex-grow: unset;
}

.header-title {
  float: left;
  width: unset;
  flex-basis: unset;
  flex-grow: unset;
  margin-left: 33%;
  position: absolute;
}

@media (max-width: 1024px){
  .header-title {
  float:right;
  width: unset;
  flex-basis: unset;
  flex-grow: unset;
  margin-left: 75%;
  position: absolute;

 }
}
.header-title h3 {
  line-height: 120px;
}
.collection-notice {
  display: block !important;
}
.collection-notice div {
  text-align: justify;
  font-size: 0.7em;
}
@media (max-width: 1024px){
  .mobile-offset {
  float:left;
  margin-left: 0%;
  
 }
}
@media (max-width: 1024px){
  .h2-mobile {
    font-size: 1.4rem !important;
 }
}
@media (max-width: 1024px){
  .card-body-mobile {
   flex: 1 1 auto;
   padding: 0.75rem;  
 }    
}
.mt-n4-custom {
    margin-top: -1.5rem;
  }
  
@media (max-width: 1024px){
.mt-n4-mobile {
  margin-top: 1.5rem;
}
}
.justify-content-end-custom {
    justify-content: flex-end;
  }
  
@media (max-width: 1024px){
.justify-content-start-mobile {
  justify-content: flex-start;
  padding-right: 40px;
}
}

@media (max-width: 1024px){
  .scroll-container {
    overflow: scroll;
    
    position: relative;
    
    
  }
}
@media (max-width: 1024px){
  .form-col-mobile {
    flex-direction: column !important; 
  }
}
@media (max-width: 1024px){
  .form-control-mobile {
    width: 65%;
  }
}
@media (max-width: 1024px){
  .col-mobile {
    width: 65%;
  }
}
@media (max-width: 1024px){
  .btn-block-mobile {
    width: 50%;
  }
}
@media (max-width: 1024px){
  .row-mobile {
    width: 80%;
  }
}
@media (max-width: 1024px){
  .col-12 {
    max-width: 65%;
  }
}
.header-title-mobile {
  display: none;
}

@media (max-width: 1024px){
  .header-title-mobile {
    display: block;
  }
  .header-title-desktop {
    display: none;
  }
}
@media (max-width: 1024px){
  .card-header-mobile {
    display: flow !important;
    flex-direction: column !important;
  }
}
@media (max-width: 1024px){
  .custom-scrollable-modal {
    overflow-x: hidden;
    overflow-y: scroll;   
    
  }
}







    