Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

## REMOVE BEFORE PRODUCTION DEVELOPMENT
#AuthType Basic
#AuthName "Restricted access"
#AuthUserFile /opt/app-root/src/.htpasswd
#require valid-user
