Options +FollowSymLinks
Options -Indexes
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

<IfModule mod_headers.c>
	Header always append X-Frame-Options SAMEORIGIN
	Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options nosniff

    <filesMatch "\\.(css|txt|svg|jpg|png)$">
        Header set Cache-Control "max-age=604800, public"
    </filesMatch>

</IfModule>
